fastapi
uvicorn[standard]
pydantic
langchain
langchain-openai
langgraph
guardrails-ai
pytest
deepeval
langchain-community
redis
requests
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
psycopg2-binary
protobuf==3.20.3
